.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000000; line-height: 15px}

p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #000000; line-height: 15px}
.linkw1 {  text-decoration: none; color: #FFFFFF; font-size: 8px; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
a:hover {  text-decoration: underline}
.text1 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FFFFFF}
.textw {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FFFFFF; line-height: 15px}
.uber { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; color: #FFFFFF}
.textgb { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333; line-height: 15px }
.text1f { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #FFFFFF }
.linkk { text-decoration: none; color: #FFCC00; font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal }
.link { text-decoration: none; color: #603913; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold }
.menuns { FONT-SIZE: 8pt; max-width: 10} 
.menuie { FONT-SIZE: 10px; max-width: 10} 
.formns { FONT-SIZE: 9pt} 
.formie { FONT-SIZE: 10px;} 
